p{
    text-indent: 40px;
    letter-spacing: 0.2px;
    font-family: Arial,sans-serif;
}
.sub{
    text-indent: unset;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: unset;
}
a{
    text-decoration: cyan ;
}
