<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Do you want delete product ?</h1>

<form th:action="@{/delete}" th:object="${product}" method="post" novalidate="novalidate">
  <input type="hidden" th:field="*{id}"/>
  <div>
    <lable>Name</lable>
    <input type="text" th:field="*{name}">
  </div>
  <div>
    <lable>Price</lable>
    <input type="text" th:field="*{price}">
  </div>
  <div>
    <lable>Description</lable>
    <input type="text" th:field="*{description}">
  </div>
  <div>
    <lable>Manufacture</lable>
    <input type="text" th:field="*{manufacture}">
  </div>
  <button type="submit">Delete</button>
</form>
</body>
</html>