<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>

<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse mt-2" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a th:href="@{/create}">
                        <button class="btn btn-success">Create New</button>
                    </a>
                </li>
                <li class="nav-item">

                    <a th:href="@{/}">
                        <button class="btn btn-outline-primary">Refresh</button>
                    </a>
                </li>


            </ul>
            <form class="d-flex" th:href="@{/}" method="get">
                <input class="form-control me-2" type="search" name="name_search" placeholder="search by name"
                       aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<table class="table table-hover table-dark">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Content</th>
        <th>Title</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    <tr th:each="item,state : ${list}">
        <td th:text="${state.count}"></td>
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getContent()}"></td>
        <td th:text="${item.getTitle()}"></td>
        <td th:text="${item.category.getName()}"></td>
        <td>
            <a th:href="@{/edit/{id}(id= ${item.getId()})}" class="btn btn-primary" type="button">edit</a>

            <button th:onclick=|showInfoDelete(${item.getId()})| type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#delete">
              delete
            </button>
        </td>
    </tr>
</table>

<div style="text-align: center">
    <p th:text="${message}"></p>
</div>

<!--delete-->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/delete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Delete this ?
                    <input type="hidden" id="deleteId" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-secondary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function showInfoDelete(id) {
        document.getElementById("deleteId").value = id;
    }
</script>

<script src="../js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>